<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<ednframework>
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
  </ednframework>-->
  <appSettings>
    <add key="EDNFrameworkConnectionString" value="Data Source=localhost;Initial Catalog=EDNFramework;User ID=sa;pwd=as"/>
  </appSettings>
</configuration>