<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://sdk.entinfo.cn:8061/webservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="SMSServiceReference.WebServiceSoap" name="WebServiceSoap" />
            <endpoint address="http://sdk.entinfo.cn:8061/webservice.asmx"
                binding="customBinding" bindingConfiguration="WebServiceSoap12"
                contract="SMSServiceReference.WebServiceSoap" name="WebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>