<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--Admin 站点目录，如果是根站点，则为空-->
    <add key="AdminVirtualPath" value=""/>
    <!--正式发布时候需设置为false-->
    <add key="MockUser" value="false"/>
    <add key="EDNFrameworkConnectionString" value="Data Source=localhost;Initial Catalog=EDNFramework;User ID=sa;pwd=as"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false">
      <controls>
        <add tagName="SubNavbar" tagPrefix="EDNFramework" src="~/Controls/Control_SubNavbar.ascx"/>
        <add tagName="Messagebox" tagPrefix="EDNFramework" src="~/Controls/Control_Messagebox.ascx"/>
        <add tagName="AlertModal" tagPrefix="EDNFramework" src="~/Controls/Control_AlertModal.ascx"/>
        <add tagName="ToolsBar" tagPrefix="EDNFramework" src="~/Controls/Control_ToolsBar.ascx"/>
        <add tagName="BreadCrumb" tagPrefix="EDNFramework" src="~/Controls/Control_BreadCrumb.ascx"/>
        <add tagName="CheckUserLogin" tagPrefix="EDNFramework" src="~/Controls/Control_CheckUserLogin.ascx"/>
        <add tagName="Upload" tagPrefix="EDNFramework" src="~/Controls/Control_Upload.ascx"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
    <httpModules>
      <add name="DotNetGlobalModule" type="DotNet.Framework.Core.HttpModules.DotNetGlobalModule,DotNet.Framework.Core"/>
    </httpModules>
  </system.web>

  <system.webServer >
    <validation validateIntegratedModeConfiguration="false"  />
    <modules runAllManagedModulesForAllRequests="true"  >
      <add name="DotNetGlobalModule" type="DotNet.Framework.Core.HttpModules.DotNetGlobalModule,DotNet.Framework.Core"/>
    </modules>

  </system.webServer>
</configuration>
