<?xml version="1.0" encoding="utf-8" ?>
<jobSetting>
  <serviceName></serviceName>
  <displayName></displayName>
  <description></description>
  <instanceNamespace></instanceNamespace>

  <context name="" value="" />
  <context name="" value="" />
  <!--<triggers>
    <trigger type="D" interval="1" specific="1"></trigger>
    -->
  <!-- 同时只能存在一个 trigger
    <trigger type="W" interval="1" specific="1"></trigger>
    <trigger type="M" m_scope="1,2,3,5" d_scope="1,2,3,29"></trigger>
    <trigger type="O" startTime=""></trigger>
    -->
  <!--
  </triggers>-->
</jobSetting>