<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Assembly" value="DotNet.Framework.JobTest.JobTest;DotNet.Framework.JobTest"/>
    <add key="EDNFrameworkConnectionString" value="Data Source=localhost;Initial Catalog=EDNFramework;User ID=sa;pwd=as"/>

  </appSettings>

</configuration>