<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- FILE -->
  <appender  name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="File" value="log\\log-file.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="StaticLogFileName" value="true"/>
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy.MM.dd" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%nDatetime：%d [%t] %nLevle：%-5p %nCategory：%c [%x] %n%m %n"/>
    </layout>
  </appender>

  <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender"  >
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <bufferSize value="0" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=E62001;initial catalog=logtest;integrated security=false;persist security info=True;User ID=sa;Password=123456" />
    <commandType value="StoredProcedure" />
    <commandText value="WriteLog" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
  </appender>


  <root>
    <level value="ALL" />
    <appender-ref ref="rollingFile" />
    <appender-ref ref="AdoNetAppender_SqlServer" />
  </root>

</log4net>