@{
    ViewBag.Title = "恭喜，下单成功";
}

<div class="bs-example bs-example-standalone">
   

    <div role="alert" class="alert alert-info alert-dismissible fade in">

        <h4>非常感谢您的信任!</h4>
        <p>请牢记您的订单号方便您查询处理进度，我们会尽快安排维修人员上门,请保持电话畅通。</p>
        <p>

            <a href="@Url.Action("details", "home", new { id = ViewBag.OrderId })" class="btn btn-default" type="button">查看订单进度</a>
        </p>
    </div>

    <div role="alert" class="alert alert-warning alert-dismissible fade in">

        <strong>订单号：</strong>@ViewBag.OrderId
    </div>
</div>
